* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	background-color: #fff;
	font-family: "Lato", sans-serif;
	color: #2d3c49;
}

.container {
	width: 960px;
	margin: 0 auto;
	margin-top: 26px;
}

.header {
	width: 100%;
	border-bottom: 2px solid #7d97ad;
	padding-bottom: 20px;
}

.title{
	display: inline-block;
	margin-left: 62%;
	text-align: right;
}

.main-header {
	font-size: 2.6rem;
	letter-spacing: 1px;
}

.logo {
	display: inline-block;
}

.main {
	margin-top: 24px;
	margin-bottom: 24px;
}

.text-header {
	font-family: "Raleway", sans-serif;
	font-weight: 300;
}

.image {
	max-width: 100%;
}

.work-items {
	display: flex;
	flex-wrap: wrap;
}

.feature-header {
	color: #7d97ad;
	margin-left: 10px;
	margin-bottom: 12px;
}

.feature {
	display: inline-block;
	width: 30%;
	text-align: center;
	padding-bottom: 80px;
}

.feature:first-of-type {
	margin-right: 2.5%;
}

.feature:nth-of-type(2) {
	margin-left: 2%;
	margin-right: 2%;
}

.feature:last-of-type {
	margin-left: 2.5%;
}

.work-title {
	margin-top: 10px;
	margin-bottom: 10px;
}

.link {
	text-decoration: none;
	color: inherit;
}